<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
</head>
<body>
    <script>
        class Bike {
            constructor(name){
                this.brand = name;
            }
            present(){
                return "I have " + this.brand + " bike"
            }

        }
        class Model extends Bike{
            constructor(name, mod){
                super(name);
                this.model = mod; 
            }
            print(){
                return "I have a " + this.model + " from " + this.brand;
            }
        }
        const myBike = new Model("Honda", "Splender")
        document.write(myBike.print())
    </script>
</body>
</html>
// const removeclasses = () => {
    //   document.body.classList.remove("bg-primary")
    //   document.body.classList.remove("bg-light")
    //   document.body.classList.remove("bg-success")
    //   document.body.classList.remove("bg-dark")
    //   document.body.classList.remove("bg-warning")
    //   document.body.classList.remove("bg-danger")
    // }
    <!-- <div className="btn-group me-2" role="group" aria-label="First group">
        <button type="button" onClick={()=>{props.toggleall("primary")}} className="btn btn-primary">1</button>
        <button type="button" onClick={()=>{props.toggleall("success")}} className="btn btn-success">2</button>
        <button type="button" onClick={()=>{props.toggleall("danger")}} className="btn btn-danger">3</button>
        <button type="button" onClick={()=>{props.toggleall("warning")}} className="btn btn-warning">4</button>
        <button type="button" onClick={()=>{props.toggleall("dark")}} className="btn btn-dark">5</button>
        <button type="button" onClick={()=>{props.toggleall("light")}} className="btn btn-light">5</button>
    </div> -->
    <!-- {/* <form className="d-flex" role="search">
        <input className="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button className="btn btn-outline-light" type="submit">Search</button>
    </form> */}
    
    {/* <div className="d-flex">
        <div className="bg-primary rounded mx-2" onClick={()=>{props.toggle('primary')}} style={{height:'30px', width:'30px'}}></div>
        <div className="bg-success rounded mx-2" onClick={()=>{props.toggle('success')}} style={{height:'30px', width:'30px'}}></div>
        <div className="bg-danger rounded mx-2" onClick={()=>{props.toggle('danger')}} style={{height:'30px', width:'30px'}}></div>
        <div className="bg-warning rounded mx-2" onClick={()=>{props.toggle('warning')}} style={{height:'30px', width:'30px'}}></div>
    </div> */} -->
    {/* <BrowserRouter>
        <Routes>
          <Route path="/about" element={} />
          <Route path="/" element={} />
        </Routes>
      </BrowserRouter> */}
      {/* <Routes>

        <Route exact path="/" element={} />

        <Route exact path="/about" element={<About />} />

      </Routes> */}